* {
    border: none;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 0.91);
}

#battery, #network, #battery,
#pulseaudio, #tray, #mode, #language {
    color: #7c6f64;
    margin: 2px 8px;
    padding: 0 12px;
    color: #111111;
    border-radius: 8px;
}

#battery {
    background-color: #83a598;
}

#language {
    background-color: #b16286;
}

#tray {
    background-color: #076678;
}

#network {
    background-color: #82c07c;
}

#pulseaudio {
    background-color: #b57614;
}

#workspaces button {
    color: #82c07c;
}

#window, #clock {
    margin-left: 16px;
    color: #689d6a;
}

#clock {
    margin-right: 16px;
    font-weight: bold;
}

#network.disconnected {
    color: #EECA9B;
    background: #b10000;
}

#pulseaudio.muted {
    color: #EECA9B;
    padding: 0 30px;
    background: #b10000;
}

