* { font-family: "FiraCode Nerd Font"; border: none;
    border-radius: 0px;
    font-size: 14px;
}

window#waybar {
background-color: rgba(27, 27, 28, 0.85); 
    transition-property: background-color;
    transition-duration: .2s;
}

#workspaces {
    padding: 3px;
    margin-right: 40px;
    border-radius: 4px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    transition: all 0.15s ease-in-out;
}

#workspaces button {
    margin: 0 5px;
    border: 0;
    min-width: 8px;
    transition: all 0.15s ease-in-out;
}

#workspaces button.active {
    color: #eb6f92;
    min-width: 30px;
    background-color: #191724;
    border-radius: 7px;
    transition: all 0.15s ease-in-out;
}

#window {
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

#custom-logo {
    color: #1793d1;
    font-size: 23px;
    margin: 1px;
    padding: 0 6px;
}

#custom-settings, 
#pulseaudio,
#clock,
#network,
#language,
#custom-wlogout {
    margin: 5px;
    padding: 3px 10px;
    border-radius: 7px;
    background-color: #191724;
}

#custom-settings {
    padding-right: 3px;
}

#custom-wlogout {
    font-size: 15px;
    color: #eb6f92;
    border-radius: 10px;
    padding-right: 13px ;
}

#clock {
    font-weight: bold;
}

 #language {
    padding: 0 15px;
}
