* {
    border: none;
    border-radius: 0px;
    font-family: "Inconsolata";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(15, 15, 15, 1);
    border-bottom-style: inset;
}

#clock, #window { 
    font-weight: 500;
}

#workspaces, #logo, #clock, #battery, #cpu, #memory, #network, 
#pulseaudio, #tray, #language {
    color: #ebdbb2;
    padding: 0 3px;
    margin: 0 2px;
    background: rgba(15, 15, 15, 0.75);
    padding: 0 15px;
    border-right: solid grey 2px;
}

#window {
    margin-left: 4px;
}

#workspaces {
    padding: 0;
    margin-right: 10px;
}

/* Workspace Buttons */
#workspaces button {
}

#workspaces button label{
    font-weight: 800;
    font-size: 12px;
}

#workspaces button.active {
    background: #689d6a; 
}


#custom-logo {
    font-size: 20px;
    font-weight: 800;
}

#clock {
    color: #fabd2f;
}

#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}

#pulseaudio.muted {
    padding: 0 20px;
    border-bottom: 4px solid #cc241d;
}
